.header{
  background-color: $color-grey-dark-1;
  // grid-column : 2 / 9;
  grid-column : full-start / col-start 7;
  background-image: linear-gradient(
    rgba($color-secondary, .9),
    rgba($color-secondary, .9)
  ),
  url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding : 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  gap : 1.5rem 0;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
  }

  @media only screen and (max-width: $bp-small) {
    padding : 5rem;
  }

  &__logo{
    height: 3rem;
    justify-self: center;
  }

  &__seeon-text{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap : 1rem;
    color : $color-grey-light-2;
    // filter:brightness(70%);
    font-size: 1.6rem;

    &::after,&::before{
      content : "";
      height: 1px;
      background-color: currentColor;
    }

  }
  
  &__seeon__logos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap : 2rem;
    // margin-top: 2rem;
    img{
      max-height: 2.5rem;
      max-width: 100%;
      filter:brightness(70%);
    }
  } 

  &__btn{
    justify-self: start;
    align-self: start;
  }
}
